  </div>
  <footer class="footer">
  <span class="muted">
    © <%= new Date().getFullYear() %> Euan Scott · Honours Fitness 
    </br>
    </br>
    Built with Node.js · Express · SQL Server
  </span>
</footer>

</body>
</html>
